.show-wait {
  margin: 20px;
  text-align: center;
  font-size: 22px;
  color: white;
}
.top-box {
  display: flex;
  align-items: top;
  height: auto;
  margin-bottom: 25px;
  color: white;
}
.img_box {
  height: 350px;
  max-width: 260px;
  margin: 20px;
  width: auto;
  border-radius: 12px;
  box-shadow: 1px 3px 5px #000;
}
.left-content {
  width: 40%;
  text-align: center;
}
.right-content {
  width: 60%;
}
.rating {
  color: rgb(255, 230, 4);
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #fff;
  width: 150px;
  font-size: 22px;
}
.title {
  font-size: 42px;
  color: #f5f5f5;
  padding: 10px;
  text-align: left;
}
.type {
  text-align: left;
  font-size: 22px;
  padding: 10px;
  margin: 10px 5px;
}
.type span {
  padding: 0px 15px;
  border-radius: 3px;
  margin: 10px;
  background-color: #0d854b;
  color: white;
  display: inline-block;
}
.details p {
  padding: 15px;
  text-align: left;
  font-size: 20px;
}
.details h4 {
  font-size: 32px;
  padding: 0px 15px;
}

@media only screen and (max-width: 800px) {
  .top-box {
    display: inline;
  }
  .right-content {
    width: 100%;
  }
  .left-content {
    width: 100%;
  }
  .type {
    font-size: 18px;
    margin: 10px;
  }
  .type span {
    padding: 5px 10px;
  }
  .title {
    font-size: 26px;
  }
}
